.flex-row {
    display: inline-grid;
    grid-column-start: 2;
    text-align: center;
}  

.project-cards {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.padding {
    list-style: none;
}

@media only screen and (max-width: 1000px) {
    .project-cards {
        display: block;
    }
  }