.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.resume-section a {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}
.skill-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.skill-list h5 {
  text-decoration: underline;
  font-size: larger;
}
.skill {
  list-style: none;
  font-weight: lighter;
}

@media only screen and (max-width: 1000px) {
  .resume-section {
    padding-top: 100px;
  }
}
