.footer {
  height: 75px;
  width: 100%;
  background-color: #393e41;
  position: absolute;
  bottom: 0;
  align-items: center;
}

.footer-content {
  text-align: center;
  color: white;
}

.img-link {
  text-align: center;
}
